*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, sans-serif;
}

.political-container{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  /* background:linear-gradient(135deg,#e2e4e7,#bebec0); */
  padding:20px;
}

.political-card{
  width:100%;
  max-width:700px;
  background:#fff;
  padding:30px;
  border-radius:20px;
  box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

.political-card h1{
  text-align:center;
  color:#171718;
  margin-bottom:10px;
}

.political-card p{
  text-align:center;
  color:gray;
  margin-bottom:25px;
}

.political-card form{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:15px;
}

.political-card input,
.political-card select{
  padding:14px;
  border:1px solid #ddd;
  border-radius:10px;
  outline:none;
}

.political-card button{
  grid-column:span 2;
  padding:15px;
  border:none;
  border-radius:10px;
  background:#080808;
  color:rgb(161, 158, 158);
  font-size:16px;
  cursor:pointer;
}

@media(max-width:768px){

  .political-card form{
    grid-template-columns:1fr;
  }

  .political-card button{
    grid-column:span 1;
  }

}